body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

h2 {
  color: #d85858;
}

form {
  background: white;
  padding: 15px;
  border-radius: 5px;
  width: 300px;
}

button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
}

#result {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 5px;
}
